@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    outline: none;
    background-color:rgb(14, 14, 14);
    height: fit-content;
  
}


.navbar{
    background-color:rgb(14, 14, 14);
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding-top: 15px;
    width: 100%;
    padding: 15px;
    position: relative;
}

.navbar a::after{
    content: "";
    position:absolute;
    background-color: #fff;
    width: 100%;
    height: .1rem;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .5s;

}

.navbar a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.logo{
   color: #fff;
    
}

 .navbar a{
    font-size: 1rem;
    color: #fff;
    padding: 5px 10px;
    position: relative;
    

}


.left-section{
    width:100%;
     padding-top:1.25rem; 
    height: fit-content;
    background-color:#0e0d0d;
    color:#f0e1e1;
    display: flex;
   justify-content: center;
   align-items: center;
   padding: 2rem;
   flex-direction: column;
   box-sizing: border-box;
}


.left-section img{
    width: 100%;
    max-width: 350px;
    height: 300px;
   border-radius: 50%;
    object-fit: cover;
    margin-left: 0;
    padding-bottom: 1rem;
    display: block;
    margin-bottom: 2rem;
    margin-top: 1rem;
    box-shadow: 0 0  50px   rgb(180, 87, 226);
 
    

}

@media (max-width: 768px){
    .left-section{ 
        flex-direction: column;
        padding-top: 1.5rem;
        align-items: center;
    }
    .left-section img{
        width: 150px;
        height: 150px;
        margin-left: 15px;
        padding-top: 10px;
    }
}

@media (max-width:480px){
    .left-section img{
        width: 200px;
        height: 200px;
        margin-left: 0;
        padding-top: 15px;
        margin-top: 1.5rem;
    }
    .content{
        margin-left: 0;
        margin-top: 2rem;
        text-align: center;
    }
    
     .content h2{
    font-size: 4rem;
    color:#6B46C1;
}
}


 .content .text{
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity));
    color: 180x;
    padding-top: 0.5rem;
    gap: none;
    margin-left: 2rem;
    font-size: 2rem;
}

@media (min-width: 480px){
    .left-section img{
        width: 150px;
        height: 150px;
        padding-top: 10px;
        margin-left: 10px;
        margin-top: 1rem;
    }

    .content h2{
        font-size: 2rem;
    }
}

.content{
    font-size: 2.5rem;
    margin-left: 3rem;
    margin-top: 1.5rem;
    text-align: center;
}


.content h2{
    font-size: 3rem;
    color: darkorchid;
    margin-left: 2rem;
}

.content p{
    font-size: 2.5rem;
}
.part2{
    height:fit-content;
    justify-content: center;
    text-align: center;
    background-color:rgb(14, 14, 14); 
    color: #fff;

}

.part2 h2{
    text-align: center;
    text-decoration: underline;
    margin-right:9%;
    padding-top: 10rem;
    font-size: 2.5rem;
    font-weight: 300;
}

.project{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
    padding:20px;
    color: #000;
}

.card{
    background-color: #0e0d0d;
    border:  1px solid #23be1e;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    transition: transform 0.3s ease;
    color: #e4cece;
}

.card:hover{
    transform: scale(1.05);
}

.card img{
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 8px;
}

.card h2{
    margin-top:10px;
    font-size:1.5rem;
    padding-top: 4rem;
}

.card p{
    margin:10px 0;
    font-size: 1rem;
}

.tags span{
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    background-color:#6B46C1;
    border-radius: 4px;
}

@media(max-width: 480px){
    .projects{
        grid-template-columns: 1fr;
    }
}


.a-container{
  padding:20px;
  width: 100%;
  margin: auto;
  height: fit-content;
    
}
.heading{
    font-size: 2.5rem;
    color:#f0e1e1;
    padding-top: 6rem;

}

.description{
    color: #555;
    font-size: 1.1rem;
    line-height: 1.6;
    margin-top: 5px;
    text-align: start;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px){
    .heading{
        font-size:2rem;
       
    }
    .description{
        font-size: 1rem;
    }
    .navbar a{
        margin: 5px 0;
    }
}

.s-container{
    padding: 20px;
    width: 100%;
    margin: auto;
    background-color:rgb(14, 14, 14);
   height: fit-content;
}

.skill-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    align-items: center;
    align-items: center;
}

.skills-content .s-description{
    color: #555;
    font-size: 1.1rem;
    line-height: 1.6;
    margin-top: 20px;
    text-align: center;
}

.skills-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    text-align: center;
    color: #6B46C1;
    margin-top: 6rem;
    font-weight: 400;
    font-size: 3rem;
}

.column{
    padding-top: 4rem;
}

.skills-list .coloumn h3{
    font-size: 1.5rem;
    color: #6B46C1;
    
    
}

@media (min-width: 768px){
    .skills-grid{
        grid-template-columns: 1fr 1fr;
        padding-top: 4rem;
    }


    .skills-content .title{
        font-size:  3rem;
        text-align: left;
        text-decoration: none;
        padding-top: 5rem;
        color: #f0e1e1;
    }

    .skills-content .s-description{
        text-align: left;
    }
}

.c-container{
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-right: 15px;
        padding-left: 15px;
        background-color: #0e0d0d;
        justify-content: center;
        justify-items: center;
    }
    @media (min-width: 640px) {
        .container {
            max-width: 640px;
        }
}

.c-content{
    display: grid;
}

@media (min-width: 768px) {
    .c-content {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 2.5rem;
    }
}


.space-y-8 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(2rem calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2rem  var(--tw-space-y-reverse));
}

.c-h2{
    font-size: 3rem ;
    line-height: 1;
    color:#f0e1e1;
    padding-top: 6rem;
}

.c-p{
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity));
    color: 180x;
    padding-top: 0.5rem
}
.contact-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
    
    margin-bottom: 15px;
}

.material-icons{
    font-size: 30px;
    color: #6B46C1;
}

.contact-text{
    color: #6B46C1;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 1.5rem;
    text-align: left;
    margin-bottom: 1.5rem;
 
}

label{
    font-size: 1rem;
    color:#6B46C1;
}

.input-field, .textarea-field{
    background-color: transparent;
    border: 1px solid #6B46C1;
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    border-radius: 5px;
    width: 100%;
    outline: none;
    transition: border-color 0.3s;
}

.input-field:focus, .textarea-field:focus{
    border-color: #9b72d2;
    box-shadow: 0 0 5px #9b72d2;
}

.send-button{
    background-color: #6B46C1;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 5rem;

}

.send-button:hover{
    background-color: #9b72d2;
}

@media(max-width: 768px){
    .c-container{
        padding: 1.5rem;
    }

    .c-h2{
        font-size: 2rem;
    }

    .contact-item{
        flex-direction: column;
        gap: 5px;
        font-size: 16px;
    }
    .material-icons{
       font-size: 25px;

    }

    .form-group{
        gap:5px;
    }

    .input-field, .textarea-field{
        font-size: 0.9rem;
        border-color: #6B46C1;
    }

    .send-button{
        font-size: 0.9rem;
        padding: 8px 16px;
        margin-top: 4rem;
        justify-content: center;
      
    }
}

@media (max-width :480px){
    .c-container{
        padding: 1rem;
    }

    .c-h2{
        font-size: 1.8rem;
    }

    .c-p{
        font-size:0.9rem;
    }

    .material-icons{
        font-size: 20px;
    }

    .contact-item{
        font-size: 14px;
    }

    .send-button{
        font-size: 0.85rem;
        padding: 7px 14px;
    }
}

footer{
    margin-top: 4rem;
    padding-top: 1.5rem ;
    padding-bottom: 1.5rem ;
    text-align: center;
    --tw-bg-opacity: 1;
    background-color:#9b72d2;
    height: 300px;
    width: 100%;
    padding: 0;
    margin: 0;

}